@page
@model Ems.Views.Question.IndexModel
@{
    Layout = "_Layout";
}
<form method="post" asp-controller="Question" asp-action="AddQuestion">
    <div class="form-group">
        <label>Subject</label>
        <select Class="form-control" name="subject">

            <option>select</option>
            <option>BCA</option>
            <option>CSIT</option>

        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Question</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="questions"></textarea>
    </div>
    <label for="usr">answer options</label>
    <div class="form-group">
        <label for="usr">correct answer</label>
        <input type="text" class="form-control" name="mcqoption">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="mcqoption">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="mcqoption">
    </div>
    <div class="form-group">
        <input type="text" class="form-control"  name="mcqoption">
    </div>
    <button type="submit" class="btn btn-primary">Add Question</button>
</form>